<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <div class="navbar-nav" id="main-menu">
            <a class="nav-item mt-2 {{nav_dashboard}}" href="/admin/dashboard">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dash board</span>
            </a>
            <a class="nav-item {{nav_statistical}}" href="/admin/statistical">
                <i class="fas fa-chart-line"></i>
                <span>Statistical Post </span>
            </a>
        </div>
    </div>

</nav>