<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <div class="navbar-nav" id="main-menu">
            <a class="nav-item mt-2 {{nav_dashboard}}" href="/admin/dashboard">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dash board</span>
            </a>
            <a class="nav-item mt-2 {{nav_dashboard}}" href="/admin/dashboard">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dash board</span>
            </a>
            <a class="nav-item {{nav_statistical}}" href="/admin/statistical">
                <i class="fas fa-chart-line"></i>
                <span>Statistical Post </span>
            </a>


            <!--            <li class="nav-item">-->
            <!--                <i class="fa fa-qrcode"></i>-->
            <!--                <a href="tab-panel.html" class=" waves-effect waves-dark"> Tabs &-->
            <!--                    Panels</a>-->
            <!--            </li>-->

            <!--            <li class="nav-item">-->
            <!--                <i class="fa fa-table"></i>-->
            <!--                <a href="table.html" class=" waves-effect waves-dark"> Responsive-->
            <!--                    Tables</a>-->
            <!--            </li>-->
            <!--            <li class="nav-item">-->
            <!--                <i class="fa fa-edit"></i>-->
            <!--                <a href="form.html" class=" waves-effect waves-dark"> Forms </a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--                <a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i> Multi-Level-->
            <!--                    Dropdown<span class="fa arrow"></span></a>-->
            <!--                <ul class="nav nav-second-level">-->
            <!--                    <li>-->
            <!--                        <a href="#">Second Level Link</a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a href="#">Second Level Link</a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a href="#">Second Level Link<span class="fa arrow"></span></a>-->
            <!--                        <ul class="nav nav-third-level">-->
            <!--                            <li>-->
            <!--                                <a href="#">Third Level Link</a>-->
            <!--                            </li>-->
            <!--                            <li>-->
            <!--                                <a href="#">Third Level Link</a>-->
            <!--                            </li>-->
            <!--                            <li>-->
            <!--                                <a href="#">Third Level Link</a>-->
            <!--                            </li>-->

            <!--                        </ul>-->

            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </li>-->

        </div>

    </div>

</nav>