{% extends 'admin/base_action.html' %}
{% load i18n static %}
{%block script %}
{{block.super}}
<!--<script src="{% static 'assets/js/jquery.metisMenu.js'%}"></script>-->
<script src="{% static 'assets/js/chart-data.js' %}"></script>
{% endblock %}
{%block content_header %}
{% endblock %}
{% block content_body%}
<div class="dashboard-cards">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="">
                <canvas id="user-chart" data-datasets = "{{data_user}}" width="300" height="250" aria-label="Hello ARIA World" role="img"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">

        <div class="card horizontal cardIcon waves-effect waves-dark">
            <div class="card-image orange">
                <i class="material-icons dp48">shopping_cart</i>
            </div>
            <div class="card-stacked orange">
                <div class="card-content">
                    <h3>36,540</h3>
                </div>
                <div class="card-action">
                    <strong>SALES</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">

        <div class="card horizontal cardIcon waves-effect waves-dark">
            <div class="card-image blue">
                <i class="material-icons dp48">equalizer</i>
            </div>
            <div class="card-stacked blue">
                <div class="card-content">
                    <h3>24,225</h3>
                </div>
                <div class="card-action">
                    <strong>PRODUCTS</strong>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">

        <div class="card horizontal cardIcon waves-effect waves-dark">
            <div class="card-image green">
                <i class="material-icons dp48">supervisor_account</i>
            </div>
            <div class="card-stacked green">
                <div class="card-content">
                    <h3>88,658</h3>
                </div>
                <div class="card-action">
                    <strong>VISITS</strong>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
